.MusicPlayer {
    float: left;
    width: 100%;
    height: 100%;
    background: var(--player-bg);
    border-top: 1px solid #333;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    padding-left: 2%;
    padding-right: 2%;
}

.MusicPlayer .audioInfo,
.MusicPlayer .playerControl,
.MusicPlayer .audioControl {
    height: 100%;
    width: 100%;
}

.MusicPlayer .audioInfo {
    display: flex;
    align-items: center;
}
.MusicPlayer .audioInfo .audioImage[src = ""] {
    opacity: 0;
}
.MusicPlayer .audioInfo .audioImage {
    opacity: 1;
}
.MusicPlayer .audioInfo .audioData {
    margin-left: 20px;
    color: #fff;
}
.MusicPlayer .audioInfo .audioData .audioName,
.MusicPlayer .audioInfo .audioData .audioAuthor {
    display: block;
    color: #fff;
    text-decoration: none;
}
.MusicPlayer .audioInfo .audioData .audioName {
    font-size: 18px;
    font-weight: 400;
}
.MusicPlayer .audioInfo .audioData .audioName:hover {
    text-decoration: underline;
}
.MusicPlayer .audioInfo .audioData .audioAuthor {
    font-size: 12px;
    font-weight: 100;
}
.MusicPlayer .audioInfo .audioData .audioAuthor:hover {
    text-decoration: underline;
}
.MusicPlayer .playerControl {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 500px;
}
.MusicPlayer .playerControl .controllButtons {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
.MusicPlayer .playerControl .controllButtons div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--player-progress);
    transition: .2s;
    font-size: 14px;
    cursor: pointer;
}
.MusicPlayer .playerControl .controllButtons div:hover {
    color: #fff;
}
.MusicPlayer .playerControl .controllButtons .loop {
    color: var(--sky-blue);
}
.MusicPlayer .playerControl .controllButtons .play {
    background: #fff;
    border-radius: 50%;
    padding-left: 4px;
    color: var(--player-bg);
}
.MusicPlayer .playerControl .controllButtons .play:hover {
    color: var(--player-bg);
}
.MusicPlayer .playerControl .timeline {
    float: left;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.inputRange {
    width: 100%;
    height: 12px;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
/* CHROME */
.inputRange::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: var(--player-progress-bg);
    border-radius: 5px;
}
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    transform: translate(0, -2.5px);
    border: 3px solid #fff;
    background: var(--sky-blue);
    border-radius: 50%;
    box-sizing: initial;
}
/* MOZ */
.inputRange:hover::-moz-range-thumb {
    opacity: 1;
}
.inputRange:hover::-moz-range-progress {
    background: var(--sky-blue);
}
.inputRange:focus {
    outline: none;
}
.inputRange::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border: 3px solid #fff;
    background: var(--sky-blue);
    border-radius: 50%;
    opacity: 0;
}
.inputRange::-moz-range-progress {
    height: 4px;
    background: var(--player-progress);
    border-radius: 5px;
}
.inputRange::-moz-range-track {
    height: 4px;
    border-radius: 5px;
    background: var(--player-progress-bg);
}
.MusicPlayer .playerControl .timeline .currentTime,
.MusicPlayer .playerControl .timeline .audioLength {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40px;
    margin-top: -3px;
    font-size: 12px;
    text-align: center;
    color: rgb(179, 179, 179);
}
.MusicPlayer .audioControl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}
.MusicPlayer .audioControl .controlIcons {
    margin-right: 25px;
}
.MusicPlayer .audioControl .volumeControlContainer {
    width: 120px;
    height: 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.MusicPlayer .audioControl .volumeControlContainer .valumeIcon {
    width: 30px;
    cursor: pointer;
}
.MusicPlayer .audioControl .volumeControlContainer .valumeControl {
    width: 100%;
    height: 4px;
    background: var(--player-progress-bg);
    margin-left: 10px;
    border-radius: 10px;
}
.MusicPlayer .audioControl .volumeControlContainer .valumeControl .valumeLevel {
    height: 100%;
    background: var(--player-progress);
    border-radius: 10px;
}