.CatalogueContainer {
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.CatalogueContainer .catalogueTitle {
    float: left;
    width: 100%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.CatalogueContainer .catalogueList {
    float: left;
    width: 100%;
    display: grid;
    gap: 20px;
}
@media all {
    .catalogueList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media all and (max-width: 1600px) {
    .catalogueList {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media all and (max-width: 1366px) {
    .catalogueList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media all and (max-width: 1024px) {
    .catalogueList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media all and (max-width: 900px) {
    .catalogueList {
        grid-template-columns: 1fr 1fr;
    }
}