.authForm .inputField,
.authForm .inputField label,
.authForm .inputField input {
    float: left;
}
.authForm .inputField {
    width: 100%;
    margin-bottom: 30px;
}
.authForm .inputField label {
    width: 100%;
    font-size: 18px;
}
.authForm .inputField .inputLine {
    float: left;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.authForm .inputField .inputLine.no-border {
    border: none;
}
.authForm .inputField .inputLine input {
    width: calc(100% - 60px);
    height: 40px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #fff;
}
.authForm .inputField .inputLine input::placeholder {
    color: #fff;
    opacity: .5;
}
.authForm .inputField .inputLine .indecator {
    float: left;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    color: var(--sky-blue);
}
.authForm .inputField .inputLine .indecator .successIcon {
    color: var(--sky-blue);
}
.authForm .inputField .inputLine .indecator .errorIcon {
    color: var(--red);
}
.authForm .inputField .inputLine .togglePassword {
    cursor: pointer;
}
.authForm .inputField .inputLine .inputDate {
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 10px;
}
.authForm .inputField .inputLine .inputDate .column {
    padding-right: 10px;
    padding-left: 10px;
    color: var(--sky-blue);
    margin-top: 10px;
}
.authForm .inputField .inputLine .inputDate .column input,
.authForm .inputField .inputLine .inputDate .column select  {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    height: 40px;
    border: none;
    background: #ccc;
}
.authForm .inputField .inputLine .inputDate .column select {
    padding-left: 10px;
}
.authForm .inputField .inputLine .inputDate .column input {
    text-align: center;
    color: var(--purple);
}
.authForm .inputField .inputLine .inputDate .column input:focus {
    background: #fff;
}
.authForm .inputField .inputLine .inputDate .column select:focus {
    background: #fff;
}
.authForm .inputField .inputLine .inputDate .column input::placeholder {
    color: var(--purple);
}
.authForm .inputField .inputLine .inputDate .column select {
    width: 150px;
}
.authForm .inputField .fieldStatus {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    
}
.authForm .inputField .fieldStatus .errorMessage {
    color: var(--red);
}
.authForm .inputField .fieldStatus .successMessage {
    color: var(--sky-blue);
}
.authForm .submit {
    float: left;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: var(--purple);
    background: var(--sky-blue);
    border-radius: 10px;
    border: none;
    margin-top: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .2s;
}
.authForm .submit:hover {
    color: #fff;
}
.authForm .submit:active {
    background: var(--blue);
    color: var(--purple);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}
.authForm .otherOptions {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.authForm .otherOptions .option {
    float: left;
    width: 50%;
    
    text-align: center;
}
.authForm .otherOptions .option a {
    text-decoration: none;
    color: #fff;
}
.authForm .otherOptions a:hover {
    color: var(--sky-blue);
    text-decoration: underline;
}