.LoginPage {
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginPage .authForm {
    width: 400px;
    color: #fff;
}

@media all and (max-width: 550px) {
    .LoginPage .authForm {
        width: 300px
    }
}