.CatalogueItem {
    float: left;
    background: #222;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}
.CatalogueItem:hover {
    background: #333;
}
.CatalogueItem:hover .catalogueItemDisplay .catalogueItemButton {
    bottom: 12px;
    opacity: 1;
}
.CatalogueItem .catalogueItemDisplay {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 15px 0px 15px;
    z-index: 0;
}
.CatalogueItem .catalogueItemDisplay .catalogueItemImg {
    width: 200px;
    max-width: 100%;
    height: auto;
    background: #444;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.CatalogueItem .catalogueItemDisplay .catalogueItemButton {
    position: absolute;
    right: 7px;
    bottom: 0px;
    width: 32px;
    height: 32px;
    background: var(--sky-blue);
    opacity: 0;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-left: 2px;
    font-size: 12px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.CatalogueItem .catalogueItemDescription {
    float: left;
    width: 100%;
    height: 80px;
    color: #fff;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.CatalogueItem .catalogueItemDescription .catalogueItemName {
    font-weight: 600;
}
.CatalogueItem .catalogueItemDescription .catalogueItemAuthor {
    font-weight: 100;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
}
.CatalogueItem .catalogueItemDescription .catalogueItemAuthor:hover {
    text-decoration: underline;
}