body {
    background: var(--purple);
}
.App {
    overflow-y: auto;
    --player-height: 100px;
    --sidebar-width: 250px;
    --player-bg: #181818;
    --player-progress: #b3b3b3;
    --player-progress-bg: #535353;
    --main-bg: #111;
}
.App .wrapper {
    float: left;
    width: 100%;
    height: 100%;
}
.App .wrapper .userInterface {
    float: left;
    width: 100%;
    height: calc(100% - var(--player-height));
}

.App .wrapper .userInterface .sideBarContainer {
    float: left;
    width: var(--sidebar-width);
    height: 100%;
}
.App .wrapper .userInterface .mainContainer {
    float: left;
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    overflow-y: auto;
    background: var(--main-bg);
}
.App .wrapper .userInterface .mainContainer .mainContent {
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 60px;
}

.App .wrapper .musicPlayerContainer {
    float: left;
    width: 100%;
    height: var(--player-height);
}
.alignRight {
    text-align: right;
}
.alignCenter {
    text-align: center;
}