:root {
	--sky-blue: #28e7ef;
	--purple: #43425d;
	--blue: #3968ff;
	--red: #ff4255;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root, html, body, .App {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
